@model Board

<h1>Game Page</h1>

<div class="container-board">
    <div class="header">
        @{
            if (Model.IsPlayerX)
            {
                <div>Player X turn</div>
            }
            else
            {
                <div>Player O turn</div>
            }
        }
    </div> 
    <div class="content">
        <table class="board">
            <tr class="top-row"></tr>
            @{
                for (int i = 0; i < 3; i++)
                {
                    if (!Model.hasPlayerWon())
                    {
                        <td class="top-cell"  id="cell-@(i+1)"><a class="clickable" asp-action="ChooseCell" asp-route-id="@(i+1)">@Model.BoardGrid[0, i]</a></td>
                        
                    }
                    else
                    {
                        <td class="top-cell"  id="cell-@(i+1)">@Model.BoardGrid[0, i]</td>
                    }
                }
            }
            <tr class="middle-row"></tr>
                @{
                    for (int i = 0; i < 3; i++)
                    {
                        if (!Model.hasPlayerWon())
                        {
                            <td class="middle-cell"  id="cell-@(i+4)"><a class="clickable" asp-action="ChooseCell" asp-route-id="@(i+4)">@Model.BoardGrid[1, i]</a></td>
                        }
                        else
                        {
                            <td class="middle-cell"  id="cell-@(i+4)">@Model.BoardGrid[1, i]</td>
                            
                        }
                        
                    }
                }
            <tr class="bottom-row"></tr>
                @{
                    for (int i = 0; i < 3; i++)
                    {
                        if (!Model.hasPlayerWon())
                        {
                            <td class="bottom-cell"  id="cell-@(i+7)"><a class="clickable" asp-action="ChooseCell" asp-route-id="@(i+7)">@Model.BoardGrid[2, i]</a></td>
                        }
                        else
                        {
                            <td class="bottom-cell"  id="cell-@(i+7)">@Model.BoardGrid[2, i]</td>
                            
                        }
                    }
                }
        </table>
        
    </div>
    <div class="footer">
        <div>Restart game</div> 
        <div>@{
                 if (Model.hasPlayerWon())
                 {
                     <p>We have a winner!</p>
                 }
             }</div>
    </div>
</div>